grpcio-tools==1.53.0 ; python_version >= "3.9" and python_version < "4.0"
grpcio==1.53.0 ; python_version >= "3.9" and python_version < "4.0"
paho-mqtt==1.6.1 ; python_version >= "3.9" and python_version < "4.0"
protobuf==4.22.1 ; python_version >= "3.9" and python_version < "4.0"
pydantic==1.10.7 ; python_version >= "3.9" and python_version < "4.0"
setuptools==67.6.1 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.5.0 ; python_version >= "3.9" and python_version < "4.0"
leveldb==0.201 ; python_version >= "3.9" and python_version < "4.0"
pysyncobj==0.3.12 ; python_version >= "3.9" and python_version < "4.0"
